* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eaeaea;
}

h1 {
  font-size: 4vw;
}

p {
  font-size: 2vw;
}

.body {
  margin: auto;
  width: 50%;
  height: 100vh;
  padding-top: 5vh;

  background-color: #1a1a1a;

  font-family: Tahoma, Verdana, Arial, sans-serif;
  text-align: center;
  color: #eaeaea;
}
